@{
    Layout = null;
}
<li class="nav-item navbar-dropdown dropdown-user dropdown">
    <a class="nav-link dropdown-toggle hide-arrow" href="#" data-bs-toggle="dropdown">
        <div class="avatar avatar-online">
            <span class="avatar-initial rounded-circle bg-label-primary">A</span>
        </div>
    </a>
    <ul class="dropdown-menu dropdown-menu-end">
        <li>
            <h6 class="dropdown-header">Signed in</h6>
        </li>
        <li>
            <div class="dropdown-divider"></div>
        </li>
        <li>
            <form asp-action="Logout" asp-controller="Account" method="post" class="px-4 py-2">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-sm btn-outline-primary w-100">Sign out</button>
            </form>
        </li>
    </ul>
</li>
